@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse {
  &__wrapper {
    background-color:$white;
    margin:-4rem 1rem 0;
    border-radius: .5rem;
  }
  
  &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid $cloud;

      &-text {
          padding-left: 0.5rem;
          padding-right: 4.5rem;
      }
      &-bgrnd {
          border-radius: 50%;
          background-color: $instock-indigo;
          height: 2rem;
          width: 2rem;
          text-align: center;
          text-decoration:none;
      
      }
  }

  &__header-edit-image {
      filter: brightness(0 ) invert(1);
      margin-top: 0.25rem;
      @include tablet {
          margin-top: 0;
          margin-right: 0.25rem;
      }
  }

  &__header-container {
      display: flex;
      align-items: center;
  }
  &__info {
      padding: 1rem;
      font-size: 0.75rem;
      border-bottom: 1px solid cloud;

      
      &-headers {
          color: $slate;
          margin-bottom: 0;
          text-transform: uppercase;
      }
      &-contact {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-top: 2rem;
          flex-basis: 60%;

          
      }
      &-address{
          flex: 1;
      }
  }

  &__header-edit-text {
      display: none;
      color: $white;

  }

}