@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;




.inventory-add-page{
  margin: -4rem 1rem 0;
  border-radius: .5rem;
  background-color: $white;
  border: .0625rem solid $cloud;
  box-shadow: 0px 2px 5px 0px #13182C1A;

  @include tablet {
   margin: -6.6rem 1rem 0 ;
  }

  @include desktop {
    width: 63.75rem;
     margin: -6.6rem auto 0; 
     }
  &__title{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
    @include tablet{
     justify-content: flex-start;
     padding: 2rem 2rem;
    }
  }  
   
  &__heading{
    font-size: 1.75rem;
    @include tablet{
        font-size:2rem ;
    }
  }
   
}

.inventory-add {
    &__form{
        display: flex;
        flex-direction: column;

        @include tablet{
          flex-direction: row;
          flex-wrap: wrap;
        }
    }

    &__fieldset{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1.5rem 1.5rem;
        @include tablet{
            width: 50%;
            border-right: .0625rem solid $cloud;
            margin: 1rem 0;
            padding: 1rem 2rem 2rem;
        }
    }
   
    &__fieldset-heading {
    margin-bottom: .5rem;
    @include tablet{
        margin-bottom: 1rem;
    }
    
    }

    &__label{
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }
        
    &__label--status {
      display: inline;
        font-size: .9rem;
        font-weight: 400;
      }

    &__input{
        padding: 0.85rem;
        border-radius: 1.5rem;
        border: none;
        border: .0781rem solid $cloud;
        margin-top: 0.4rem;

        &::placeholder{
            font-size: 0.9rem;
            color: $slate;
        }
    }

    &__categories {
      padding: 0.85rem;
        border-radius: 1.5rem;
        border: none;
        border: .0781rem solid $cloud;
        margin-top: 0.4rem;

        &::placeholder{
            font-size: 0.9rem;
            color: $slate;
        }
    }

    &__warehouses {
      padding: 0.85rem;
        border-radius: 1.5rem;
        border: none;
        border: .0781rem solid $cloud;
        margin-top: 0.4rem;

        &::placeholder{
            font-size: 0.9rem;
            color: $slate;
        }
    }

    &__divider{
        border: none;
        border-bottom: .0625rem solid $cloud;
    }

    &-page__button-group{
        display: flex;
        background-color:$light-grey ;
        height: 5rem;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        
        @include tablet{
            width: 100%;
        }
    }
    &-page__button-cancel{
        @include button;
        background-color: $white;
        border: .0625rem solid $cloud;
        color: $slate;
        @include tablet{
            width: 4.5rem;
        }
    }
    &-page__button-add{
        @include button;
        background-color : $instock-indigo;
        color: $white;
        
        
        @include tablet{
          width: 8.625rem;
        }
    }
}