@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory {
  background-color: $white;
  margin: -4rem 1rem 0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px #13182c1a;

  @include desktop {
    width: 63.75rem;
    margin: -4rem auto 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px 24px 16px;
    border-bottom: 1px solid $cloud;

    @include tablet {
      padding: 32px 32px 20px 32px;
    }

    &-container {
      display: flex;
      align-items: center;
    }

    &-return {
      height: 24px;
    }

    &-title {
      padding-left: 0.5rem;
      padding-right: 4.5rem;
    }

    &-link {
      border-radius: 50%;
      background-color: $instock-indigo;
      height: 2rem;
      width: 2rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        height: auto;
        width: auto;
        border-radius: 1.5rem;
        padding: 0.25rem 1rem;
        display: flex;
      }
    }

    &-pencil {
      filter: brightness(0) invert(1);
      width: 60%;

      @include tablet {
        margin-top: 0;
        margin-right: 0.25rem;
      }
    }

    &-edit {
      display: none;
      color: $white;

      @include tablet {
        display: inline;
      }
    }
  }

  &__info {
    padding: 0 1rem 1rem 1rem;
    font-size: 0.75rem;
    border-bottom: 1px solid $cloud;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include tablet {
      width: 100%;
      padding: 24px 32px 32px 32px;
      font-size: 0.875rem;
      border-bottom: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    &-left {
      width: 100%;
      
      @include tablet {
        border-right: 1px solid $cloud;
        width: 50%;
      }
    }

    &-right {
      width: 100%;

      @include tablet {
        padding-left: 40px;
        width: 50%;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      margin-top: 16px;

      @include tablet {
        margin: 0 0 32px 0;
      }
    }

    &-title {
      color: $slate;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &-description,
    &-category,
    &-status,
    &-quantity {
      padding-top: 4px;
    }

    &-stats {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      margin-top: 16px;

      @include tablet {
        margin: 0 0 32px 0;
      }
    }

    &-status {
      text-transform: uppercase;
      width: max-content;
      font-size: 11px;
      line-height: 1.25rem;
      padding: 0.25rem 0.5rem 4px 8px;
      border-radius: 1.25rem;
      font-weight: 600;

      &--instock {
        background-color: rgba(21, 132, 99, 0.07);
        color: $green;
      }

      &--outstock {
        background-color: rgba(201, 69, 21, 0.07);
        color: $red;
      }

      @include tablet {
        line-height: 1.375rem;
      }
    }
  }
}
