@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color:$graphite;
  color:$white;
  display: flex;
  flex-direction: column;
  height: 12rem;
  padding-top: 2rem;
  padding-bottom: 1rem;

  @include tablet {
    display: flex;
    height: 13rem;
    padding-top: 0;
  }

 
  &__logo {
    display: flex;
    justify-content: center;

    @include tablet{
        margin-top: 2.4rem;
    }
  }

 
  &__wrapper {
    padding: 0 1rem;
    
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }

    @include desktop{
      padding: 0 8.125rem;
    }
  }

 
  &__links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;

    
    
    @include tablet {
        margin-top: 2.4rem;
        width: 14rem;
    }
}
    
 
&__link {
    color:$cloud;
    text-decoration: none;
    width: 40%;
    margin:0 auto;
    padding: 0.5rem 1rem ;
    border-radius: 1.25rem;
    font-weight: 600;
    text-align: center;

    &:hover {
      text-decoration:underline;
      color:$white;
    }
    
    @include tablet {
      width:100%;
    }

    &--active {
      color:$white;
      background-color: $instock-black;
      border-radius:1.25rem;
      text-decoration:none;
    }
  }
}