@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory {
  &__table {
    &-fields {
      display: none;
      padding: 0.625rem 0;

      @include tablet {
        background-color: $light-grey;
        display: flex;
        justify-content: space-around;
        padding: 0.6875rem 2rem;
        margin-left:10rem;
      }

      @include desktop {
        width: 63.75rem;
      }
    }

    &-field {
      @include tablet {

        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &--position {
        @include tablet {
          justify-content: flex-end;
        }
      }
    }

    &-header {
      color: $slate;
    }
  }
}