@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses {
  background-color: $white;
  margin: -3.975rem 1rem 0;
  border-radius: .25rem;
  border: .0625rem solid $cloud;
  box-shadow: 0rem .125rem .3125rem rgba(19, 24, 44, 0.1);

  @include tablet {
    margin: -6.0375rem 1rem 0;
  }

  @include desktop {
    width: 63.75rem;
    margin: -6.0375rem auto 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    @include tablet {
      padding: 2rem 2rem 1.5rem 2rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    color: $instock-black;
    padding: 2rem 0 1rem 0;

    @include tablet {
      padding: 0;
    }
  }

  &__cta {
    @include tablet {
      width: auto;
      display: flex;
      flex-direction: row;
    }
  }

  &__search {
    display: flex;
    height: 2.25rem;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;

    @include tablet {
      width: 11.5625rem;
      margin: 0 1rem 0 0;
    }

    &-input {
      flex: 1;
      border-radius: 1.25rem;
      border: .0625rem solid $cloud;
      background-image: url(../../assets/icons/search-1.5rem.svg);
      background-repeat: no-repeat;
      background-position: right .75rem center;

      &::placeholder {
        padding-left: 1rem;
      }
      @include tablet {
        height: 2.375rem;
      }
    }
  }

  &__add {
    background-color: $instock-indigo;
    color: $white;
    height: 2.25rem;
    width: 100%;
    border-radius: 1.25rem;
    border: .0625rem solid $cloud;

    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $graphite;
    }

    @include tablet {
      height: 2.375rem;
      width: 12.9063rem;
      padding: 0 1rem 0 1rem;
      margin-left: 1rem;
    }
  }

  &__table {
    &-fields {
      display: none;
      padding: .625rem 0;

      @include tablet {
        background-color: $light-grey;
        display: flex;
        justify-content: space-around;
        padding: .6875rem 2rem;
      }
    }

    &-field {
      @include tablet {
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &--position {
        @include tablet {
          justify-content: flex-end;
        }
      }
    }

    &-header {
      color: $slate;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    border-top: .0625rem solid $cloud;

    @include tablet {
      flex-wrap: nowrap;
      justify-content: space-around;
      border-top: .0625rem solid $cloud;
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: rgba(46, 102, 229, 0.07);
    }

    &-title {
      color: $slate;
      @include tablet {
        display: none;
      }
    }
  }

  &__warehouse {
    color: $instock-indigo;
    font-weight: 600;
    font-size: .8125rem;
    display: flex;
    align-items: center;

    &-container {
      width: 50%;
      padding-bottom: 1rem;

      @include tablet {
        width: 20%;
        padding: 0;
        order: -2;
      }
    }
  }

  &__name {
    font-size: .8125rem;

    @include tablet {
      display: flex;
      justify-content: flex-start;
    }

    &-container {
      width: 50%;
      padding-bottom: 1rem;

      @include tablet {
        width: 20%;
        padding: 0;
        order: 0;
      }
    }
  }

  &__address {
    font-size: .8125rem;
    line-height: 1.25rem;

    @include tablet {
      width: 80%;
      line-height: 1.375rem;
    }

    &-container {
      width: 50%;
      padding-bottom: 1rem;

      @include tablet {
        width: 20%;
        padding: 0;
        order: -1;
      }
    }
  }

  &__information {
    &-container {
      width: 50%;
      padding-bottom: 1rem;

      @include tablet {
        width: 20%;
        padding: 0;
        order: 1;
      }
    }

    &-number {
      font-size: .8125rem;
      line-height: 1.25rem;

      @include tablet {
        line-height: 1.375rem;
      }
    }

    &-email {
      font-size: .8125rem;
      line-height: 1.25rem;

      @include tablet {
        line-height: 1.375rem;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      width: 20%;
      justify-content: flex-end;
      order: 2;
    }
    
    &-del {
      @include tablet {
        padding-right: 1rem;
      }
    }
  }
}
